<!-- change_password.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}{{game.title}}{% endblock title %}



{% block content %}
    <div class="p-4 flex flex-col space-y-4">
        <h2 class="text-2xl font-bold mb-4">Change Password</h2>
        <form method='POST' action="{% url 'change_password' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="password" class="form-label">Enter Old Password</label>
                <input type="password" id="password" name="old_password" class="form-control">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">New Password</label>
                <input type="password" id="new_password" name="new_password1" class="form-control">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Confirm New Password</label>
                <input type="password" id="confirm_new_password" name="new_password2" class="form-control">
            </div>
            {{form.errors}}
            <div class="mt-6">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</html>
{% endblock content %}