{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="p-8">
      <h1 class="text-2xl font-bold mb-4">Games</h1>
      <!-- Grid Layout -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Iterate over your items and display each one -->
        {% for game in games %}
        <div class="bg-white p-2 shadow-md my-4 rounded-md">
          <img class="size-42" src="{{ game.game_pic.url }}" alt="{{ game.title }}">
          <h2 class="text-lg font-normal mb-1">{{ game.title }}</h2>
          <h3 class="text-lg font-normal mb-1">{{ game.genre }}</h3>
          <h3 class="text-lg font-normal mb-1">{{ game.release_date }}</h3>
          <h3 class="text-lg font-normal mb-1">${{ game.price }}</h3>
          <p class="mb-2">{{ game.description }}</p>
          <!-- Add other item details as needed -->
          <a href="{% url 'game_detail' game.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-px my-8 rounded">Read More</a>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock content %}