<!-- games/templates/games/game_list.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="p-2">
  <div class="flex justify-between">
    <h1 class="text-2xl font-bold mb-4">Game Library</h1>
    <div class="gap-content-center text-center">
        <a href="{% url 'add_game' %}" class="text-black text-lg font-semibold py-2 px-4">
            <ion-icon name="add-outline"></ion-icon>Add game
        </a>
    </div>
    
  </div>
  
  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="table-auto border-collapse w-full">
      <thead>
        <tr>
          {% comment %} <th class="px-4 py-2 bg-gray-800 text-gray-200">ID</th> {% endcomment %}
          <th class="px-4 py-2 bg-gray-800 text-gray-200">Title</th>
          <th class="px-4 py-2 bg-gray-800 text-gray-200">Platform</th>
          <th class="px-4 py-2 bg-gray-800 text-gray-200">Release Date</th>
          <th class="px-4 py-2 bg-gray-800 text-gray-200">Price</th>
          <th class="px-4 py-2 bg-gray-800 text-gray-200">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games %}
        <tr class="{% cycle 'bg-gray-100' 'bg-gray-200' %}">
          {% comment %} <td class="border px-4 py-2">{{ game.id }}</td> {% endcomment %}
          <td class="border px-4 py-2">{{ game.title }}</td>
          <td class="border px-4 py-2">{{ game.genre }}</td>
          <td class="border px-4 py-2">{{ game.release_date }}</td>
          <td class="border px-4 py-2">{{ game.price }}</td>
          <td class="border px-4 py-2">
            <a href="{% url 'edit_game' game.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 ml-4 mr-4 rounded">Edit</a>
            <a href="{% url 'delete_game' game.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 self-end rounded">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}