<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    
    <title>{% block title %}{% endblock title %} | GameHUB</title>
</head>

<body>
  {% if user.is_authenticated %}
    <div class="flex h-screen">
          <!-- Sidebar -->
          <div class="bg-zinc-900 text-white w-60 flex-shrink-0 h-full">
            <!-- Sidebar content goes here -->
            <div class="p-4">
              <!-- Logo -->
              <div class="text-white">
                  <a href={% url 'game_list' %}><span class="font-bold text-lg">GameHUB</span></a>
                </div>
              <!-- Add your sidebar links here -->
              <ul class="mt-4">
                <li><a href="{% url 'home' %}" class="block py-2 px-4 text-gray-400 hover:text-white"><ion-icon name="home-outline"></ion-icon> Home</a></li>
                <li><a href="{% url 'game_list' %}" class="block py-2 px-4 text-gray-400 hover:text-white"><ion-icon name="game-controller-outline"></ion-icon> Game</a></li>
                <li><a href="{% url 'change_password' %}" class="block py-2 px-4 text-gray-400 hover:text-white"><ion-icon name="lock-closed-outline"></ion-icon> Change Password</a></li>
                <li><a href={% url "logout" %} class="block py-2 px-4 text-gray-400 hover:text-white"><ion-icon name="log-out-outline"></ion-icon> Logout</a></li>
                <!-- Add more links as needed -->
              </ul>
            </div>
          </div>
          
          
            <!-- Main content goes here -->
            <div class="p-4 flex-1 overflow-y-auto">
              {% block content %}
              
              {% endblock content %}
            </div>
          </div>
        </div>
  {% else %}
    <div class="bg-gray-100 h-screen flex justify-center items-center">
      <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full items-center">
          <a href={% url 'login' %} class="px-4 py-2 mr-20 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none">Login</a>
      </div>
    </div>
    
  {% endif %}
      


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>